<!DOCTYPE html>
<html lang="en">

<head>
    <title>BREAD</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Add Data</h1>
    <form action="" method="post">
        <div class="container">
            <div class="row">
                <div class="col-20">
                    <label for="string">String</label>
                </div>
                <div class="col-80">
                    <input type="text" id="string" name="string" placeholder="String">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="integer">Integer</label>
                </div>
                <div class="col-80">
                    <input type="text" id="integer" name="integer" placeholder="Integer">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="float">Float</label>
                </div>
                <div class="col-80">
                    <input type="text" id="float" name="float" placeholder="Float">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="date">Date</label>
                </div>
                <div class="col-80">
                    <input type="date" id="date" name="date" placeholder="date">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="Boolean">Boolean</label>
                </div>
                <div class="col-80">
                    <select name="boolean" id="boolean">
                        <option value="">Choose the boolean...</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <button type="submit">Save</button>
            </div>
        </div>
    </form>
</body>

</html>